.version.index
/* version checker */

    {
    color: #0000E2;
    background-color: #1286EB;
}

#muse_css_mq {
    background-color: #FFFFFF;
}

#page {
    z-index: 1;
    width: 960px;
    min-height: 700px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

#page_position_content {
    margin-bottom: -127px;
    width: 0.01px;
    /* should not cover content below */
}

#u566 {
    z-index: 7;
    width: 960px;
    position: relative;
}

#u577 {
    z-index: 8;
    width: 960px;
    height: 275px;
    position: relative;
    margin-right: -10000px;
}

#u551 {
    z-index: 76;
    width: 400px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 74px;
    left: 280px;
}

#pu121-30 {
    width: 0.01px;
    margin-left: 20px;
    margin-top: 23px;
}

#u121-30 {
    z-index: 13;
    width: 609px;
    min-height: 572px;
    background-color: transparent;
    text-align: left;
    position: relative;
    margin-right: -10000px;
}

#u121-2,
#u121-7,
#u121-12,
#u121-26 {
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
}

#u121-4,
#u121-5,
#u121-9,
#u121-10,
#u121-14,
#u121-16,
#u121-18,
#u121-20,
#u121-22,
#u121-24,
#u121-28 {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#pu274-4 {
    width: 0.01px;
    margin-right: -10000px;
    margin-left: 632px;
}

#u274-4 {
    z-index: 43;
    width: 288px;
    min-height: 24px;
    background-color: #F7931E;
    padding-top: 9px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
}

#u280-29 {
    z-index: 47;
    width: 288px;
    min-height: 15px;
    background-color: #E1E1E1;
    padding-top: 6px;
    padding-bottom: 12px;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    position: relative;
}

#u280-3,
#u280-6,
#u280-9,
#u280-12,
#u280-15,
#u280-18,
#u280-21,
#u280-24,
#u280-27 {
    padding-top: 5px;
}

#u94 {
    z-index: 2;
    width: 300px;
    margin-top: 21px;
    position: relative;
    padding: 23px 330px 23.100000000000136px;
}

#u124-4 {
    z-index: 3;
    width: 300px;
    min-height: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    position: relative;
}

#u124-3 {
    margin-left: 13px;
    margin-right: 13px;
}

#u580-4 {
    z-index: 9;
    width: 255px;
    min-height: 27px;
    margin-left: 23px;
    margin-top: 14px;
    position: relative;
}

.html {
    background-color: #C8C8C8;
}

body {
    position: relative;
    min-width: 960px;
    padding-bottom: 127px;
}