#u566 {
    background: #FFFFFF url("../images/header_01.jpg") no-repeat left top;
}

#u577 {
    background-color: #000000;
    opacity: 0.35;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    filter: alpha(opacity=35);
}

#u94 {
    background-color: #464646;
}

#u124-4 {
    background-color: #F7931E;
}

#u124-3 {
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

#u580-4 {
    background-color: transparent;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
}